z.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000001;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    border-radius: 5px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    z-index: 100000002;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.octave-selection-container,
.note-selection-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: #f8deba;
    font-family: monospace;
    margin: 0.1rem;
    padding: 0.5rem;
}

.octave-header,
.note-header {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: #5a260a;
}

.octave-container,
.note-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.octave,
.note {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.2rem;
    margin: 0.1rem;
    padding: 0.1rem;
    border-radius: 0.5rem;
    color: #e3a143;
    background-color: #5a260a;
    font-weight: bold;
    cursor: pointer;
}

.note.selected,
.octave.selected {
    background-color: #fff;
    color: #5a260a;
}
