.semitone-controls-header {
    font-family: monospace;
    font-size: 1.3rem;
    text-align: center;
    color: black;
    user-select: none;
}

.semitone-controls-label {
    font-family: monospace;
    font-size: 0.9rem;
    text-align: center;
    color: black;
    user-select: none;
}
